:root {
    --body_background: #c7f9cc;
    --a_color: #38a3a5;
    --dot_background: #386641;
    --dot_hover: #8ac926;
    --text: orange;
    --h1: pink;
    --prev_next: red;
  }

body {
    font-family: Verdana, 
    sans-serif; 
    margin:0;
    background-color:var(--body_background);
}

nav {
    padding: 10px 0px 10px 40px;
    color: whitesmoke;
}

a {
    color: var(--a_color);
}

.nav {
    display: inline-block;
}

img {
    padding: 20px 5px 6px 25px;
    display: inline-block;
}

h1 {
    color: var(--h1);
    padding-left: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
    display: inline-block;
}

.blocks {
    width: 1190px;
    height: 480px;
    padding: 0 3px;
    margin: auto;
    border-radius: 10px; 
}

.table {
    margin: auto;
    color: var(--text);
    width: 50%;
    display: inline-block;
}

table {
    margin: auto;
}

.table table, tr, td, th {
    border:0px solid transparent;
    border-collapse: collapse;
}

tr, td, th {
    margin: 10px;
    padding: 10px;
}

.image {
    vertical-align: top;
    margin: auto;
    width: 35%;
    display: inline-block;
}


.image img {
    vertical-align: top;
    border-radius: 10px;
    margin: auto;
    padding: 5px;
    width: 100%;
    height: 100%;
}


@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}